body{
    margin: 0;
}

h1{  
    color: #025157; 
}

#rojo{   
    color: red;
}

.verde{  
    color: green;
}

.texto-boton{
    background-color: #025157;
    border-radius: 6 px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    padding: 6px 20px;
}

.login-Boton{

        background-color: #4CAF50; /* Green */
        border: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}



.main{
    margin-top: 140px;
    text-align: center;

}

.main h1{
    display: inline;
    font-family:  'Alegreya', serif;
    font-size: 60px;
    font-weight: 900;

}



.header{
    margin: 0 20px;
    font-size: 0px;
    height: 60px;
    line-height: 45px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    padding-bottom: 15px;
    position: fixed;


}

.header li{
    display: inline;
}


.header >*{  
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.header .logo{
    width: 15%;
}

.header .navbar{

    width: 70%;
    text-align: center;
}
.header .navbar ul{
    padding-left: 0;

}
.hader .actions{
    width: 15%;
    text-align: right;
}

.publish h3{
    font-size: 40px;
    color:#025157;


}

.publish{
    padding-left: 20px;
}
.publish >p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #343434;
}

.promo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin: 100px auto; /*margen */
}

.promo. explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo. explanatory-video img{
  width: 120px;
  margin-top: 10px;
}

